.row
  .col-lg-7
    p This is the partial for view 2.

    h2 Write a new post
    label(for='title') Title: 
    input(ng-model='form.title', name='title').form-control
    p
      label(for='author') Author: 
      input(ng-model='form.author', name='author').form-control
    label(for='body') Body:
    p
      textarea(ng-model='form.text', cols='50', rows='10').form-control
    p
      button(ng-click='submitPost()').btn.btn-primary Submit Post
    
  .col-lg-1
  .col-lg-4
    h2 Sidebar
    p
    | Text in a sidebar
