.row
  .col-lg-7
		section
		  h3 {{post.title}}
		  p {{post.author}}
		  div {{post.text}}
		  p
		  a(href='/editPost/{{post.id}}') Edit
		  |  - 
		  a(href='/deletePost/{{post.id}}') Delete
		  |  - 
		  a(href='/') Back
  .col-lg-1
  .col-lg-4
    h2 Sidebar
    p
    | text in a sidebar

